.carta-detalle{


  .detalle-precio{
    font-size: x-large;
  }
  .icon-detalle{
    color:rgb(49, 163, 34);
  }
  .texto-envio{
    font-size: larger;
  }
  .acciones{
    display: flex;
    justify-content: center;
  }
}
