<section>
  <div>
    <div class="row venta justify-content-center">
      <div class="col-lg-7">
          <h2 class="text-center">Productos seleccionados</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Precio U</th>
                <th>sub Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart$ | async">
                <td>{{item.name}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.valor}}</td>
                <td>{{item.cantidad * item.valor | currency}}</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="col-lg-4">
        <div class="row">
               <div class="col-12">
        <mat-card>
          <h2 class="text-center">Detalles compra</h2>
          <mat-card-content>
            <p class="detalle-precio">Cantidad de productos: {{totalP$ | async}}</p>
            <p class="detalle-precio">
              Total Compra: {{total$ | async | currency}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>


<div class="col-12">
  <form class="form item" #checkoutForm="">
    <mat-form-field class="form__element">
      <input
        matInput
        placeholder="Nombre"
        required
        name="name"
      >
      <!-- <mat-error *ngIf="!name.valid || name.pristine">
        Name is required
      </mat-error> -->
    </mat-form-field>
    <mat-radio-group class="form__element">
      <p>Tipo de entrega</p>
        <mat-radio-button
         value="pickup"
         (change)="onPickupOrDelivery(false)"
         >Tienda
        </mat-radio-button>
        &nbsp;
        <mat-radio-button
        value="delivery"
        (change)="onPickupOrDelivery(true)"
        >Envio
       </mat-radio-button>
    </mat-radio-group>

    <ng-container *ngIf="Tienda; else Envio">
      <mat-form-field class="form__element">
        <input
        matInput
        placeholder="Direccion donde recibe"
        required
        >
      </mat-form-field>
      <mat-form-field class="form__element">
        <input
        matInput
        placeholder="Ciudad"
        required
        name="city"
        >
      </mat-form-field>
   </ng-container>

  <ng-template #Envio>
    <mat-form-field class="form__element" >
      <mat-label>Selecciona</mat-label>
        <mat-select>
          <mat-option>Tienda Principal</mat-option>
          <mat-option>Bodega</mat-option>
        </mat-select>
    </mat-form-field>
  </ng-template>

  </form>
  <div class="container___button">
    <button class="btn-checkout"  mat-raised-button color="primary" type="submit">
     Comprar
    </button>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>



