<mat-toolbar class="example-icon">
    <button mat-icon-button  aria-label="Example icon-button with share icon">
        <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button  aria-label="Example icon-button with share icon">
        <mat-icon matBadge="15" matBadgeColor="warn">mail</mat-icon>
    </button>
    <button mat-icon-button  aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>